.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.project h3 {
    margin-left: -700px;
    font-size: 10px;
    font-weight: 300;
    opacity: .5;
}

.project_btn {
    font-size: 12px;
    font-weight: 600;
}


@media (max-width:480px) {
    .project h3 {
        margin-left: -200px;
    }
}